{% extends "mailings/base.html" %}

{% block page_title %}Пароль обновлён{% endblock %}
{% block page_description %}Пароль успешно изменён{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        <div class="alert alert-success text-center shadow-sm">
            <h4 class="mb-2">Пароль изменён!</h4>
        </div>

        <div class="text-center">
            <a href="{% url 'account_login' %}" class="btn btn-primary">Войти</a>
        </div>

    </div>
</div>
{% endblock %}
