{% extends "mailings/base.html" %}

{% block page_title %}Новый пароль{% endblock %}
{% block page_description %}Введите ваш новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        <div class="card shadow-sm">
            <div class="card-body">

                <h3 class="text-center mb-4">Новый пароль</h3>

                {% if token_fail %}
                    <div class="alert alert-danger">
                        Неверная или устаревшая ссылка.
                    </div>
                {% else %}
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label>Новый пароль</label>
                            {{ form.password1 }}
                        </div>

                        <div class="mb-3">
                            <label>Повтор пароля</label>
                            {{ form.password2 }}
                        </div>

                        <button type="submit" class="btn btn-success w-100">
                            Сохранить пароль
                        </button>
                    </form>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}
